#box-group {
	margin: auto;
}

.box {
	border: 2px groove #0a3d6a;
	background-color: #fff;
	border-radius: 8px;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 25px;
	overflow: hidden;
}

.box-header {
	background-color: #0a3d6a;
	color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
}

.box-content {
	height: 150px;
	background-color: #e9ebee;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.box-content img {
	max-width: 100%;
	max-height: 100%;
}

.box-header, .box-footer {
	font-family: 'gotham_bookregular','Roboto', sans-serif;
	font-size: 15px;
	font-weight: 600;
}