.panel-title {
	font-weight: 600;
}

div[id*="confirmation-"] {
	display: none;
}

.box-content h1 {
	color: #4267b2;
	font-family: 'gotham_bookregular','Roboto', sans-serif;
	font-size: 16px;
	font-weight: 600;
	padding-top: 10px;
	padding-bottom: 5px;
}

.row.text-center .btn {
	margin: auto;
}