.buttons {
	padding-left: 0;
}

.btn-vote, .btn-unvote {
	width: 100%;
	height: 35px;
	border-top: 0;
	border-bottom: 0;
	border-left: 0;
	border-radius: 0;
}

.nb-votes {
	line-height: 2.2;
	height: 100%;
	padding-left: 0;
}

.modal-header {
	color: #fff;
	background-color: #109cdf;
	padding: 10px;
}